$spacing-margin =
  &-horz-auto {
    margin-left: auto;
    margin-right: auto;
  }

  &-vert-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  &-horz-0 {
    margin-left: 0;
    margin-right: 0;
  }

  &-vert-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-xs {
    margin: 0.6rem;
  }

  &-s {
    margin: 1.2rem;
  }

  &-base {
    margin: 1.6rem;
  }

  &-l {
    margin: 2.4rem;
  }

  &-xl {
    margin: 3.2rem;
  }

  &-2xl {
    margin: 4.8rem;
  }

  &-3xl {
    margin: 6rem;
  }

  &-none {
    margin: 0;
  }

  &-top-xs {
    margin-top: 0.6rem;
  }

  &-top-s {
    margin-top: 1.2rem;
  }

  &-top-base {
    margin-top: 1.6rem;
  }

  &-top-l {
    margin-top: 2.4rem;
  }

  &-top-xl {
    margin-top: 3.2rem;
  }

  &-top-2xl {
    margin-top: 4.8rem;
  }

  &-top-3xl {
    margin-top: 6rem;
  }

  &-top-none {
    margin-top: 0;
  }

  &-bot-xs {
    margin-bottom: 0.6rem;
  }

  &-bot-s {
    margin-bottom: 1.2rem;
  }

  &-bot-base {
    margin-bottom: 1.6rem;
  }

  &-bot-l {
    margin-bottom: 2.4rem;
  }

  &-bot-xl {
    margin-bottom: 3.2rem;
  }

  &-bot-2xl {
    margin-bottom: 4.8rem;
  }

  &-bot-3xl {
    margin-bottom: 6rem;
  }

  &-bot-none {
    margin-bottom: 0;
  }

  &-left-xs {
    margin-left: 0.6rem;
  }

  &-left-s {
    margin-left: 1.2rem;
  }

  &-left-base {
    margin-left: 1.6rem;
  }

  &-left-l {
    margin-left: 2.4rem;
  }

  &-left-xl {
    margin-left: 3.2rem;
  }

  &-left-2xl {
    margin-left: 4.8rem;
  }

  &-left-3xl {
    margin-left: 6rem;
  }

  &-left-none {
    margin-left: 0;
  }

  &-right-xs {
    margin-right: 0.6rem;
  }

  &-right-s {
    margin-right: 1.2rem;
  }

  &-right-base {
    margin-right: 1.6rem;
  }

  &-right-l {
    margin-right: 2.4rem;
  }

  &-right-xl {
    margin-right: 3.2rem;
  }

  &-right-2xl {
    margin-right: 4.8rem;
  }

  &-right-3xl {
    margin-right: 6rem;
  }

  &-right-none {
    margin-right: 0;
  }

  &-inherit {
    padding: inherit;
  }

.margin {
  {$spacing-margin};
}

mq('margin', $spacing-margin);