$spacing-padding =
  &-horz-auto {
    padding-left: auto;
    padding-right: auto;
  }

  &-vert-auto {
    padding-top: auto;
    padding-bottom: auto;
  }

  &-horz-0 {
    padding-left: 0;
    padding-right: 0;
  }

  &-vert-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  &-xs {
    padding: 0.6rem;
  }

  &-s {
    padding: 1.2rem;
  }

  &-base {
    padding: 1.6rem;
  }

  &-l {
    padding: 2.4rem;
  }

  &-xl {
    padding: 3.2rem;
  }

  &-2xl {
    padding: 4.8rem;
  }

  &-3xl {
    padding: 6rem;
  }

  &-none {
    padding: 0;
  }

  &-top-xs {
    padding-top: 0.6rem;
  }

  &-top-s {
    padding-top: 1.2rem;
  }

  &-top-base {
    padding-top: 1.6rem;
  }

  &-top-l {
    padding-top: 2.4rem;
  }

  &-top-xl {
    padding-top: 3.2rem;
  }

  &-top-2xl {
    padding-top: 4.8rem;
  }

  &-top-3xl {
    padding-top: 6rem;
  }

  &-top-none {
    padding-top: 0;
  }

  &-bot-xs {
    padding-bottom: 0.6rem;
  }

  &-bot-s {
    padding-bottom: 1.2rem;
  }

  &-bot-base {
    padding-bottom: 1.6rem;
  }

  &-bot-l {
    padding-bottom: 2.4rem;
  }

  &-bot-xl {
    padding-bottom: 3.2rem;
  }

  &-bot-2xl {
    padding-bottom: 4.8rem;
  }

  &-bot-3xl {
    padding-bottom: 6rem;
  }

  &-bot-none {
    padding-bottom: 0;
  }

  &-left-xs {
    padding-left: 0.6rem;
  }

  &-left-s {
    padding-left: 1.2rem;
  }

  &-left-base {
    padding-left: 1.6rem;
  }

  &-left-l {
    padding-left: 2.4rem;
  }

  &-left-xl {
    padding-left: 3.2rem;
  }

  &-left-2xl {
    padding-left: 4.8rem;
  }

  &-left-3xl {
    padding-left: 6rem;
  }

  &-left-none {
    padding-left: 0;
  }

  &-right-xs {
    padding-right: 0.6rem;
  }

  &-right-s {
    padding-right: 1.2rem;
  }

  &-right-base {
    padding-right: 1.6rem;
  }

  &-right-l {
    padding-right: 2.4rem;
  }

  &-right-xl {
    padding-right: 3.2rem;
  }

  &-right-2xl {
    padding-right: 4.8rem;
  }

  &-right-3xl {
    padding-right: 6rem;
  }

  &-right-none {
    padding-right: 0;
  }

  &-inherit {
    padding: inherit;
  }

.pad {
  {$spacing-padding};
}

mq('pad', $spacing-padding);