$flexbox-justify = @block {
  &-start {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }
}

.flex-justify {
  {$flexbox-justify}  
}

mq('flex-justify', $flexbox-justify);