$flexbox-size =
  &-initial {
    flex: initial;
  }

  &-1 {
    flex: 1;
  }

  &-basis-auto {
    flex-basis: auto;
  }

  &-auto {
    flex: auto;
  }

  &-none {
    flex: none;
  }

  &-grow {
    flex-grow: 1;
  }

  &-shrink {
    flex-shrink: 1;
  }

  &-no-grow {
    flex-grow: 0;
  }

  &-no-shrink {
    flex-shrink: 0;
  }

.flex-size {
  {$flexbox-size};
}

mq('flex-size', $flexbox-size);