<section class="pad-top-l" id="About">
    <h2 class="margin-top-none">About the ER Frontend Design System</h2>
    <h3>FEDS (Frontend Design System)</h3>
    <p>
        FEDS is a Design System developed for Emergency Reporting for the purpose of standardizing it's use of CSS and
        Javascript.
        It's goal is to create well a defined toolkit of reusable standards based styles and components that leverage
        native
        platform functionality.
    </p>
    <h3>Toolkit Includes:</h3>
    <ul>
        <li>Living Style Guide</li>
        <li>Implementation Patterns</li>
        <li>Javascript Components</li>
        <li>Prescriptive Workflows</li>
        <li>Best Practices & Learning Resources</li>
    </ul>
    <h3>Key Features:</h3>
    <ul>
        <li>Atomic Design</li>
        <li>Responsive Design</li>
        <li>Framework agnostic</li>
        <li>Intuitive conventions (BEM, OOCSS)</li>
        <li>Deployment friendly (autoprefixed, optimized, CI friendly)</li>
        <li>W3C Compliant</li>
    </ul>
    <h3>Get Started</h3>
    <p>To get started click
        <a href="Concepts.html" class="nav-item">Concepts</a>. To checkout the source code, head over to:
        <a href="https://github.com/kvnlnt/feds">https://github.com/kvnlnt/feds</a>
    </p>
    <a href="Concepts.html" class="nav-item button margin-vert-s">Concepts</a>
</section>