<section class="pad-top-l" id="Buttons">
    <h2 class="margin-top-none">Buttons</h2>
    <h3>Types</h3>
    <div class="box">
        <div class="columns">
            <div class="column">
                <a class="button">Take Action</a>
                <p class="text-color-grey-l">default</p>
            </div>
            <div class="column">
                <a class="button secondary">Take Action</a>
                <p>.secondary</p>
            </div>
            <div class="column">
                <a class="button link">Take Action</a>
                <p>.link</p>
            </div>
            <div class="column">
                <a class="button danger">Take Action</a>
                <p>.danger</p>
            </div>
        </div>
    </div>
    <pre>
    <code data-language="html">
    <a class="button">primary</a>
    <a class="button secondary">secondary</a>
    <a class="button link">link</a>
    <a class="button danger">danger</a></code>
    </pre>
    <h3>Sizes</h3>
    <div class="box">
        <div class="columns flex-vert-bottom">
            <div class="column">
                <a class="button large">Take Action</a>
                <p>.large</p>
            </div>
            <div class="column">
                <a class="button">Take Action</a>
                <p class="text-color-grey-l">default</p>
            </div>
            <div class="column">
                <a class="button medium">Take Action</a>
                <p>.medium</p>
            </div>
            <div class="column">
                <a class="button small">Take Action</a>
                <p>.small</p>
            </div>
        </div>
    </div>
    <pre>
    <code data-language="html">
    <a class="button large">Take Action</a>
    <a class="button">Take Action</a>
    <a class="button medium">Take Action</a>
    <a class="button small">Take Action</a></code>
    </pre>
    <h3>States</h3>
    <div class="box">
        <div class="columns">
            <div class="column">
                <a class="button">Take Action</a>
                <p class="text-color-grey-l">default</p>
            </div>
            <div class="column">
                <a class="button disabled">Take Action</a>
                <p>.disabled</p>
            </div>
            <div class="column">
                <a class="button secondary">Take Action</a>
                <p>.secondary</p>
            </div>
            <div class="column">
                <a class="button secondary disabled">Take Action</a>
                <p>.secondary.disabled</p>
            </div>
        </div>
    </div>
    <pre>
    <code data-language="html">
    <a class="button">Take Action</a>
    <a class="button disabled">Take Action</a>
    <a class="button secondary">Take Action</a>
    <a class="button secondary disabled">Take Action</a></code>
    </pre>
</section>