<section class="pad-top-l" id="Cards">
  <h2 class="margin-top-none">Cards</h2>
  <p>Cards are multi-purpose content containers. They have a simple structure:</p>
  <ul>
    <li><strong>Header</strong>: Title and action button(s)</li>
    <li><strong>Body</strong>: The content of the container</li>
    <li><strong>Footer</strong>: Action buttons</li>
  </ul>
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">Card Title</div>
      <div class="card-header-buttons">
        <a id="modalClose">
          <i class="icon xs close"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      Card Content
    </div>
    <div class="card-footer">
      <div class="card-buttons">
        <a class="button">Save</a>
        <a class="button">Cancel</a>
      </div>
    </div>
  </div>
</section>