<section class="pad-top-l" id="Cards">
  <h2 class="margin-top-none">Cards</h2>
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">Card Title</div>
      <div class="card-header-buttons">
        <a>
          <i class="icon xs close"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      ...body...
    </div>
  </div>
  <pre>
  <code data-language="html">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">Card Title</div>
      <div class="card-header-buttons">
        <a>
          <i class="icon xs close"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      ...
    </div>
  </div></code>
  </pre>
</section>