<section class="pad-top-l" id="Colors">
    <h2 class="guide margin-top-none">Colors</h2>
    <h3>Backgrounds</h3>
    <div class="box">
        <div class="columns">
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-primary" style="height:5rem"></div>
                    <p>.bg-color-primary</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-primary-l" style="height:5rem"></div>
                    <p>.bg-color-primary-l</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-primary-xl" style="height:5rem"></div>
                    <p>.bg-color-primary-xl</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="bg-color-secondary" style="height:5rem"></div>
                <p>.bg-color-secondary</p>
            </div>

        </div>
        <div class="columns">
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-success" style="height:5rem"></div>
                    <p>.bg-color-success</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-danger" style="height:5rem"></div>
                    <p>.bg-color-danger</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-warn" style="height:5rem"></div>
                    <p>.bg-color-warn</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="bg-color-white border-color-grey-l border-size-xs border-style-solid" style="height:5rem"></div>
                <p>.bg-color-white</p>
            </div>
        </div>
        <div class="columns">
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-black" style="height:5rem"></div>
                    <p>.bg-color-black</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-grey" style="height:5rem"></div>
                    <p>.bg-color-grey</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="margin-right-s">
                    <div class="bg-color-grey-l" style="height:5rem"></div>
                    <p>.bg-color-grey-l</p>
                </div>
            </div>
            <div class="column fourth">
                <div class="bg-color-grey-xl" style="height:5rem"></div>
                <p>.bg-color-grey-xl</p>
            </div>
        </div>
    </div>
    <h3>Text</h3>
    <p>See
        <a href="typography.html" class="nav-item">Typography</a> for text colors</p>
</section>