<section class="pad-top-l" id="Compatibility">
    <h2 class="guide margin-top-none">Compatibility</h2>
    <h3>Devices/Browsers</h3>
    <h4>Support Matrix</h4>
    <ul>
        <li>Full Support = Greater than Min & less than or equal to Max.</li>
        <li>Partial Support = Equal to Min or greater than Max</li>
        <li>No Support = Below Min</li>
    </ul>
    <table class="table rows three-columns">
        <tr>
            <th>Browser</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        <tr>
            <td>IE</td>
            <td>10</td>
            <td>11</td>
        </tr>
        <tr>
            <td>Edge</td>
            <td>15</td>
            <td>18</td>
        </tr>
        <tr>
            <td>Chrome</td>
            <td>57</td>
            <td>71</td>
        </tr>
        <tr>
            <td>Safari</td>
            <td>10</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Safari IOS</td>
            <td>10</td>
            <td>12</td>
        </tr>
    </table>
    <h3>CSS</h3>
    <h4>Level 3</h4>
    <h3>Javascript</h3>
    <h4>Modules</h4>
</section>