<section class="pad-top-l" id="Icons">
    <h2 class="guide margin-top-none">Icons</h2>
    <div class="box">
        <div class="columns text-align-left spacing-s">
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--administration"></i>
                </div>
                <p class="text-size-s">administration</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--analytics"></i>
                </div>
                <p class="text-size-s">analytics</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--calendar"></i>
                </div>
                <p class="text-size-s">calendar</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--collapse-expand"></i>
                </div>
                <p class="text-size-s">collapse-expand</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--daily-roster"></i>
                </div>
                <p class="text-size-s">daily-roster</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--data-intelligence"></i>
                </div>
                <p class="text-size-s">data-intelligence</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--demographics"></i>
                </div>
                <p class="text-size-s">demographics</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--events"></i>
                </div>
                <p class="text-size-s">events</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--home"></i>
                </div>
                <p class="text-size-s">home</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--hydrants"></i>
                </div>
                <p class="text-size-s">hydrants</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--incidents"></i>
                </div>
                <p class="text-size-s">incidents</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--inventory"></i>
                </div>
                <p class="text-size-s">inventory</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--invoicing"></i>
                </div>
                <p class="text-size-s">invoicing</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--library"></i>
                </div>
                <p class="text-size-s">library</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--maintenance"></i>
                </div>
                <p class="text-size-s">maintenance</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--message-center"></i>
                </div>
                <p class="text-size-s">message-center</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--my-profile"></i>
                </div>
                <p class="text-size-s">my-profile</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--occupancies"></i>
                </div>
                <p class="text-size-s">occupancies</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--payroll"></i>
                </div>
                <p class="text-size-s">payroll</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--reports"></i>
                </div>
                <p class="text-size-s">reports</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--roster"></i>
                </div>
                <p class="text-size-s">roster</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--shifts"></i>
                </div>
                <p class="text-size-s">shifts</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--training"></i>
                </div>
                <p class="text-size-s">training</p>
            </div>
        </div>
    </div>

    <h3>Example</h3>
    <pre>
    <code data-language="html">
    <i class="icon icon--administration"></i></code>
    </pre>

    <h4>Sizes</h4>
    <div class="box">
        <div class="columns spacing-s">
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xxl icon--black icon--administration"></i>
                </div>
                <p class="text-size-s">icon--xxl</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xl icon--black icon--administration"></i>
                </div>
                <p class="text-size-s">icon--xl</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--l icon--black icon--administration"></i>
                </div>
                <p class="text-size-s">icon--l</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--m icon--black icon--administration"></i>
                </div>
                <p class="text-size-s">icon--m</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--s icon--black icon--administration"></i>
                </div>
                <p class="text-size-s">icon--s</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xs icon--black icon--administration"></i>
                </div>
                <p class="text-size-s">icon--xs</p>
            </div>
        </div>
    </div>
    <pre>
    <code data-language="html">
    <i class="icon icon--xxl icon--administration"></i>
    <i class="icon icon--xl icon--administration"></i>
    <i class="icon icon--l icon--administration"></i>
    <i class="icon icon--m icon--administration"></i>
    <i class="icon icon--s icon--administration"></i>
    <i class="icon icon--xs icon--administration"></i>
    </code>
    </pre>
    <h4>Colors</h4>
    <div class="box">
        <div class="columns spacing-s">
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon icon--xxl icon--black icon--administration"></i>
                </div>
                <p class="text-size-s">icon--black</p>
            </div>
            <div class="column flex-fit">
                <div class="bg-color-grey border-radius-m pad-m">
                    <i class="icon icon--xxl icon--white icon--administration"></i>
                </div>
                <p class="text-size-s">icon--white</p>
            </div>
        </div>
    </div>
    <pre>
    <code data-language="html">
    <i class="icon icon--black icon--administration"></i>
    <i class="icon icon--white icon--administration"></i>
    </code>
    </pre>
</section>