<section class="pad-top-l" id="Icons">
    <h2 class="margin-top-none">Icons</h2>
    <div class="box">
        <div class="columns text-align-left spacing-s">
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black administration"></i>
                </div>
                <p class="text-size-s">administration</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black analytics"></i>
                </div>
                <p class="text-size-s">analytics</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black calendar"></i>
                </div>
                <p class="text-size-s">calendar</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black collapse-expand"></i>
                </div>
                <p class="text-size-s">collapse-expand</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black daily-roster"></i>
                </div>
                <p class="text-size-s">daily-roster</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black data-intelligence"></i>
                </div>
                <p class="text-size-s">data-intelligence</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black demographics"></i>
                </div>
                <p class="text-size-s">demographics</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black events"></i>
                </div>
                <p class="text-size-s">events</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black home"></i>
                </div>
                <p class="text-size-s">home</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black hydrants"></i>
                </div>
                <p class="text-size-s">hydrants</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black incidents"></i>
                </div>
                <p class="text-size-s">incidents</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black inventory"></i>
                </div>
                <p class="text-size-s">inventory</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black invoicing"></i>
                </div>
                <p class="text-size-s">invoicing</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black library"></i>
                </div>
                <p class="text-size-s">library</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black maintenance"></i>
                </div>
                <p class="text-size-s">maintenance</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black message-center"></i>
                </div>
                <p class="text-size-s">message-center</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black my-profile"></i>
                </div>
                <p class="text-size-s">my-profile</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black occupancies"></i>
                </div>
                <p class="text-size-s">occupancies</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black payroll"></i>
                </div>
                <p class="text-size-s">payroll</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black reports"></i>
                </div>
                <p class="text-size-s">reports</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black roster"></i>
                </div>
                <p class="text-size-s">roster</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black shifts"></i>
                </div>
                <p class="text-size-s">shifts</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black training"></i>
                </div>
                <p class="text-size-s">training</p>
            </div>
        </div>
    </div>

    <h3>Example</h3>
    <pre>
    <code data-language="html">
    <i class="icon administration"></i></code>
    </pre>

    <h4>Sizes</h4>
    <div class="box">
        <div class="columns spacing-s">
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xxl black administration"></i>
                </div>
                <p class="text-size-s">xxl</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xl black administration"></i>
                </div>
                <p class="text-size-s">xl</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon l black administration"></i>
                </div>
                <p class="text-size-s">l</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon m black administration"></i>
                </div>
                <p class="text-size-s">m</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon s black administration"></i>
                </div>
                <p class="text-size-s">s</p>
            </div>
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xs black administration"></i>
                </div>
                <p class="text-size-s">xs</p>
            </div>
        </div>
    </div>
    <pre>
    <code data-language="html">
    <i class="icon xxl administration"></i>
    <i class="icon xl administration"></i>
    <i class="icon l administration"></i>
    <i class="icon m administration"></i>
    <i class="icon s administration"></i>
    <i class="icon xs administration"></i>
    </code>
    </pre>
    <h4>Colors</h4>
    <div class="box">
        <div class="columns spacing-s">
            <div class="column flex-fit">
                <div class="border-color-grey-l border-style-solid border-size-xs border-radius-m pad-m">
                    <i class="icon xxl black administration"></i>
                </div>
                <p class="text-size-s">black</p>
            </div>
            <div class="column flex-fit">
                <div class="bg-color-grey border-radius-m pad-m">
                    <i class="icon xxl white administration"></i>
                </div>
                <p class="text-size-s">white</p>
            </div>
        </div>
    </div>
    <pre>
    <code data-language="html">
    <i class="icon black administration"></i>
    <i class="icon white administration"></i>
    </code>
    </pre>
</section>