<section class="pad-top-l display-hide" id="Lists">
    <h2 class="margin-top-none">Lists</h2>
    <h3>Bulleted</h3>
    <ul>
        <li>Item
            <ul>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </li>
        <li>Item
            <ul>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </li>
        <li>Item</li>
    </ul>
    <h3>Numbered</h3>
    <ol>
        <li>Item
            <ol>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ol>
        </li>
        <li>Item
            <ol>
                <li>Item</li>
                <li>Item</li>
            </ol>
        </li>
        <li>Item</li>
    </ol>
    <h3>Tree</h3>
    <ul class="tree">
        <li>Item
            <ul>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </li>
        <li>Item
            <ul>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </li>
        <li>Item</li>
    </ul>
</section>