<section class="pad-top-l" id="Modals">
    <h2 class="guide margin-top-none">Modals</h2>
    <div class="box">
        <a class="button" id="modalOpen">Open Dialog</a>
    </div>
    <div data-component="Modal" data-name="exampleModal" data-open="#modalOpen" data-close=".modalClose" class="modal">
        <div class="modal-view">
            <div class="modal-header">
                <div class="modal-header-title">Title</div>
                <div class="modal-header-buttons">
                    <a class="modal-close modalClose">
                        <i class="icon icon-xs icon-close"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="pad-m">
                    ...content...
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-buttons">
                    <a class="modal-close modalClose">
                        <i class="icon icon-xs icon-close"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h4>HTML</h4>
    <pre><code data-language="html">
        <div data-component="Modal" data-name="exampleModal" data-open="#modalOpen" data-close=".modalClose" class="modal">
            <div class="modal-view">
                <div class="modal-header">
                    <div class="modal-header-title">Title</div>
                    <div class="modal-header-buttons">
                        <a class="modal-close modalClose">
                            <i class="icon icon-xs icon-close"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="pad-m">
                        ...content...
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-buttons">
                        <a class="modal-close modalClose">
                            <i class="icon icon-xs icon-close"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </code></pre>
</section>