<section class="pad-top-l display-hide " id="Tables">
    <h2 class="margin-top-none">Tables</h2>
    <p>Tables are for displaying tabular data and therefore it's important to leverage the default syntax.
    </p>
    <h3>Columns</h3>
    <p>Standard column based tables should look like this</p>
    <div class="box">
        <table>
            <thead>
                <tr>
                    <th>Heading 1</th>
                    <th>Heading 2</th>
                    <th>Heading 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Element 1.1</td>
                    <td>Element 1.2</td>
                    <td>Element 1.3</td>
                </tr>
                <tr>
                    <td>Element 2.1</td>
                    <td>Element 2.2</td>
                    <td>Element 2.3</td>
                </tr>
                <tr>
                    <td>Element 3.1</td>
                    <td>Element 3.2</td>
                    <td>Element 3.3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre>
    <code data-language="html">
    <table>
        <thead>
            <tr>
                <th>Heading 1</th>
                <th>Heading 2</th>
                <th>Heading 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Element 1.1</td>
                <td>Element 1.2</td>
                <td>Element 1.3</td>
            </tr>
            <tr>
                <td>Element 2.1</td>
                <td>Element 2.2</td>
                <td>Element 2.3</td>
            </tr>
            <tr>
                <td>Element 3.1</td>
                <td>Element 3.2</td>
                <td>Element 3.3</td>
            </tr>
        </tbody>
    </table></code>
    </pre>
    <h3>Pivot</h3>
    <p>A table can be "pivoted " by adding the molecule
        <em>pivot</em> creating a row based layout of the same table.
    </p>
    <div class="box">
        <table class="pivot">
            <thead>
                <tr>
                    <th>Heading 1</th>
                    <th>Heading 2</th>
                    <th>Heading 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Element 1.1</td>
                    <td>Element 1.2</td>
                    <td>Element 1.3</td>
                </tr>
                <tr>
                    <td>Element 2.1</td>
                    <td>Element 2.2</td>
                    <td>Element 2.3</td>
                </tr>
                <tr>
                    <td>Element 3.1</td>
                    <td>Element 3.2</td>
                    <td>Element 3.3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre>
    <code data-language="html">
    <table class="pivot"></table></code>
    </pre>
    <h3>Wrap</h3>
    <p>An optional
        <em>wrap</em> class is available to wrap the table data for smaller screens.</p>
    <div class="box">
        <table class="wrap">
            <thead>
                <tr>
                    <th>Heading 1</th>
                    <th>Heading 2</th>
                    <th>Heading 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Heading 1">Element 1.1</td>
                    <td data-title="Heading 2">Element 1.2</td>
                    <td data-title="Heading 3">Element 1.3</td>
                </tr>
                <tr>
                    <td data-title="Heading 1">Element 2.1</td>
                    <td data-title="Heading 2">Element 2.2</td>
                    <td data-title="Heading 3">Element 2.3</td>
                </tr>
                <tr>
                    <td data-title="Heading 1">Element 3.1</td>
                    <td data-title="Heading 2">Element 3.2</td>
                    <td data-title="Heading 3">Element 3.3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre>
    <code data-language="html">
    <table class="wrap"></table></code>
    </pre>
</section>