<section class="pad-top-l" id="Tooltip">
    <h2 class="guide margin-top-none">Tooltip</h2>
    <div class="box">
        <a href="#" class="tooltip" data-alt="The Tooltip">Hover over top</a><br />
        <a href="#" class="tooltip tooltip--right" data-alt="The Tooltip">Hover to the right</a><br />
        <a href="#" class="tooltip tooltip--left" data-alt="The Tooltip">Hover to the left</a><br />
        <a href="#" class="tooltip tooltip--bottom" data-alt="The Tooltip">Hover to the bottom</a>
    </div>
    <pre>
    <code data-language="html">
    <a href="#" class="tooltip" data-alt="The Tooltip">Hover over top</a>
    <a href="#" class="tooltip tooltip--right" data-alt="The Tooltip">Hover to the right</a>
    <a href="#" class="tooltip tooltip--left" data-alt="The Tooltip">Hover to the left</a>
    <a href="#" class="tooltip tooltip--bottom" data-alt="The Tooltip">Hover to the bottom</a></code>
    </pre>
</section>