.container {
    width: 100%;
}

@media (min-width: $bp-mobile) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: $bp-tablet) {
    .container {
        max-width: $bp-tablet;
    }
}

@media (min-width: $bp-desktop) {
    .container {
        max-width: $bp-desktop;
    }
}