// breakpoints
$bp-mobile = 0;
$bp-tablet = 880px;
$bp-desktop = 1200px;
// colors
$color-black = #0E1225;
$color-blue = #2D77CC;
$color-blue-d = #1F62AD;
$color-blue-l = #3392FF;
$color-green = #008756;
$color-grey = #333D4F;
$color-grey-l = #707783;
$color-light-blue = #DEEBFA;
$color-light-blue-l = #EEF5FC;
$color-light-grey = #CACED9;
$color-light-grey-l = lighten($color-light-grey, 70%);
$color-light-grey-xl = lighten($color-light-grey, 88%);
$color-red = hsl(358, 80%, 46%);
$color-white = #FFFFFF;
$color-yellow = #F7D31E;
