.font {
  &-primary {
    font-family: OpenSans;

    &-bold {
      font-family: OpenSansBold, Arial;

      &-italic {
        font-family: OpenSansBoldItalic;
      }
    }

    &-italic {
      font-family: OpenSansItalic;
    }
  }
}