.text-indent {
    &-xs {
        text-indent: 0.5rem;
    }

    &-s {
        text-indent: 1rem;
    }

    &-base {
        text-indent: 1.5rem;
    }

    &-l {
        text-indent: 2rem;
    }

    &-xl {
        text-indent: 2.5rem;
    }

    &-xxl {
        text-indent: 3rem;
    }
}