.leading {
  &-xs {
    line-height: 1.6rem;
  }

  &-s {
    line-height: 2.4rem;
  }

  &-base {
    line-height: 2.4rem;
  }

  &-l {
    line-height: 2.8rem;
  }

  &-xl {
    line-height: 3.6rem;
  }

  &-2xl {
    line-height: 5.6rem;
  }

  &-3xl {
    line-height: 6rem;
  }

  &-4xl {
    line-height: 7rem;
  }

  &-5xl {
    line-height: 8rem;
  }
}