.text-whitespace {
  &-normal {
    white-space: normal;
  }

  &-no-wrap {
    white-space: nowrap;
  }

  &-pre {
    white-space: pre;
  }

  &-pre-line {
    white-space: pre-line;
  }

  &-pre-wrap {
    white-space: pre-wrap;
  }
}