{{#page
section="Components"
title="Accordion"
source="/src/scripts/components/accordion" }}

{{>
header
title="Basic"
}}

{{#example code=true }}
<div data-component="Accordion">
  <label for="tab-one">Label One</label>
  <div id="tab-one">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.</p>
  </div>
</div>
{{/example}}

{{/page}}