.cursor {
    &-auto {
        cursor: auto;
    }

    &-default {
        cursor: default;
    }

    &-pointer {
        cursor: pointer;
    }

    &-wait {
        cursor: wait;
    }

    &-move {
        cursor: move;
    }

    &-not-allowed {
        cursor: not-allowed;
    }
}