.bg-color {
  &-black {
    background-color: $color-black;
  }

  &-danger {
    background-color: $color-red;
  }

  &-grey {
    background-color: $color-grey;
  }

  &-grey-l {
    background-color: $color-grey-l;
  }

  &-light-grey {
    background-color: $color-light-grey;
  }

  &-light-grey-l {
    background-color: $color-light-grey-l;
  }

  &-light-grey-xl {
    background-color: $color-light-grey-xl;
  }

  &-primary {
    background-color: $color-blue;
  }

  &-primary-l {
    background-color: $color-blue-l;
  }

  &-primary-xl {
    background-color: $color-light-blue;
  }

  &-secondary {
    background-color: $color-blue-d;
  }

  &-success {
    background-color: $color-green;
  }

  &-warn {
    background-color: $color-yellow;
  }

  &-white {
    background-color: $color-white;
  }
}