.bg-position {
  &-bottom {
    background-position: bottom;
  }

  &-center {
    background-position: center;
  }

  &-left {
    background-position: left;
  }

  &-left-bottom {
    background-position: left bottom;
  }

  &-left-top {
    background-position: left top;
  }

  &-right {
    background-position: right;
  }

  &-right-bottom {
    background-position: right bottom;
  }

  &-right-top {
    background-position: right top;
  }

  &-top {
    background-position: top;
  }
}