.anim {
  transition-duration: 0.25s;

  &-speed {
    &-xs {
      transition-duration: 1s;
    }

    &-s {
      transition-duration: 0.75s;
    }

    &-base {
      transition-duration: 0.5s;
    }

    &-f {
      transition-duration: 0.15s;
    }

    &-xf {
      transition-duration: 0.075s;
    }
  }

  &-property {
    &-all {
      transition-property: all;
    }

    &-none {
      transition-property: none;
    }

    &-bg {
      transition-property: background;
    }

    &-opacity {
      transition-property: opacity;
    }

    &-color {
      transition-property: color;
    }
  }

  &-timing {
    &-linear {
      transition-timing-function: linear;
    }

    &-ease {
      transition-timing-function: ease;
    }

    &-ease-in {
      transition-timing-function: ease-in;
    }

    &-ease-out {
      transition-timing-function: ease-out;
    }

    &-ease-in-out {
      transition-timing-function: ease-in-out;
    }
  }

  &-delay {
    &-xf {
      transition-delay: 0.075s;
    }

    &-f {
      transition-delay: 0.15s;
    }

    &-base {
      transition-delay: 0.5s;
    }

    &-s {
      transition-delay: 0.75s;
    }

    &-xs {
      transition-delay: 1s;
    }

    &-none {
      transition-delay: 0s;
    }
  }
}