@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/open-sans/OpenSans-Italic-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Semibolditalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}:root { font-size: 62.5%; }
html { line-height:1.15;-webkit-text-size-adjust: 100%; }
body { margin:0;font-family:arial; }
h1 { font-size:2em;margin:0.67em 0; }
hr { box-sizing:content-box;height:0;overflow:visible; }
pre { font-family:monospace,monospace;font-size:1em; }
a { background-color:transparent; }
abbr[title] { border-bottom:none;text-decoration:underline;text-decoration:underline dotted; }
b,strong { font-weight:bolder; }
code,kbd,samp { font-family:monospace, monospace;font-size:1em; }
small { font-size:80%; }
sub, sup { font-size:75%;line-height:0;position:relative;vertical-align:baseline; }
sub { bottom:-none.25em; }
sup { top:-none.5em; }
img { border-style:none; }
button,input,optgroup,select,textarea { font-family:inherit;font-size:100%;line-height:1.15;margin:0; }
button,input { overflow:visible; }
button,select { text-transform:none; }
button,[type="button"],[type="reset"],[type="submit"] { -webkite-appearnce:button; }
button::-moz-focus-inner { border-style:none;padding:0; }
[type="button"]::-moz-focus-inner { border-style:none;padding:0; }
[type="reset"]::-moz-focus-inner { border-style:none;padding:0; }
[type="submit"]::-moz-focus-inner { border-style:none;padding:0; }
button:-moz-focusring { ; }
[type="button"]:-moz-focusring { outline: 1px dotted ButtonText; }
[type="reset"]:-moz-focusring { outline: 1px dotted ButtonText; }
[type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }
fieldset { padding: 0.35em 0.75em 0.625em; }
legend { box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal; }
progress { vertical-align:baseline; }
textarea { overflow:auto; }
[type="checkbox"], [type="radio"] { box-sizing:border-box;padding:0; }
[type="number"]::-webkit-inner-spin-button { height:auto; }
[type="search"] { -webkit-appearance: textfield;outline-offset:-spx; }
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button;font:inherit; }
details { display:block; }
summary { display:list-item; }
template { display:none; }
[hidden] { display:none; }
a { color:hsl(212, 64%, 49%);cursor:pointer;font-size:1.4rem;text-decoration:none;display:inline-block;border-width:0;border-style:none; }
.box { padding:2rem;box-shadow:0 1px 5px rgba(0, 0, 0, 0.3); }
.button { border-width:1px;border-style:solid;border-color:hsl(212, 64%, 49%);background-color:hsl(212, 64%, 49%);display:inline-block;padding-left:2rem;padding-right:2rem;color:#FFFFFF;line-height:3.2rem;font-size:1.4rem;border-radius:4px;white-space:nowrap;line-height:4rem;text-align:center;text-decoration:none; }
.button:focus { background-color:hsl(212, 70%, 40%);transition: all 0.3s;color:#FFFFFF; }
.button:hover { background-color:hsl(212, 70%, 40%);transition: all 0.3s;color:#FFFFFF; }
.button:active { opacity:0.7;transition: all 0.3s;box-shadow:0 1px 5px rgba(0, 0, 0, 0.3); }
.button.disabled { background-color:hsl(218,8%,48%);opacity:0.5;border-color:hsl(218,8%,48%); }
.button.disabled:hover { background-color:hsl(218,8%,48%);opacity:0.5; }
.button.disabled:active { background-color:hsl(218,8%,48%);opacity:0.5; }
.button.large { font-size:1.8rem;line-height:5rem; }
.button.medium { line-height:3.2rem; }
.button.small { line-height:2.4rem; }
.button.danger { color:#FFFFFF;background-color:hsl(358,80%,46%);border-color:hsl(358,80%,46%); }
.button.danger:hover { background-color:#FFFFFF;color:hsl(358,80%,46%); }
.button.danger:active { opacity:0.5; }
.button.secondary { color:hsl(212, 64%, 49%);background-color:#FFFFFF; }
.button.secondary:hover { background-color:hsl(212, 70%, 40%);transition: all 0.3s;color:#FFFFFF; }
.button.secondary:active { color:hsl(212, 64%, 49%);background-color:#FFFFFF;box-shadow:0 1px 5px rgba(0, 0, 0, 0.3); }
.button.secondary.disabled { color:hsl(219, 22%, 25%);border-width:1px;border-style:solid;border-color:#FFFFFF;background-color:#FFFFFF; }
.button.secondary.disabled:hover { color:hsl(219, 22%, 25%);border-width:1px;border-style:solid;border-color:#FFFFFF;background-color:#FFFFFF; }
.button.secondary.disabled:active { color:hsl(219, 22%, 25%);border-width:1px;border-style:solid;border-color:#FFFFFF;background-color:#FFFFFF; }
code { font-size:1.3rem; }
.column { flex:1; }
.column.half { flex:0 0 50%; }
.column.full { flex:0 0 100%; }
.column.third { flex:0 0 33.33333%; }
.column.fourth { flex:0 0 25%; }
.column.fifth { flex:0 0 20%; }
.column.sixth { flex:0 0 16.66%; }
.columns { display:flex;flex-direction:row;flex-wrap:wrap; }
.icon { display:block;background-size:cover;background-position:center;margin:auto;height:3.2rem;width:3.2rem; }
.icon.black { filter:brightness(0); }
.icon.white { filter:brightness(1); }
.icon.l { height:3.2rem;width:3.2rem; }
.icon.m { height:2.4rem;width:2.4rem; }
.icon.s { height:1.8rem;width:1.8rem; }
.icon.xl { height:4rem;width:4rem; }
.icon.xs { height:1.6rem;width:1.6rem; }
.icon.xxl { height:5rem;width:5rem; }
.list { ; }
.print { ; }
blockquote { ; }
em { font-family:OpenSansItalic, Arial;font-style:italic; }
footer { ; }
form { ; }
h1 { font-size:4rem;font-family:OpenSans, Arial;font-family:OpenSansBold, Arial; }
h2 { font-size:2.4rem;font-family:OpenSans, Arial;font-family:OpenSansBold, Arial; }
h3 { font-size:1.8rem;font-family:OpenSans, Arial;font-family:OpenSansBold, Arial; }
h4 { font-size:1.4rem;font-family:OpenSans, Arial;font-family:OpenSansBold, Arial; }
h5 { font-size:1.3rem;font-family:OpenSans, Arial;font-family:OpenSansBold, Arial; }
hr { ; }
nav { ; }
p { font-size:1.4rem;line-height:2.4rem;color:hsl(219, 22%, 25%); }
pre { white-space: pre; }
section { ; }
small { font-size:1.3rem; }
strong { font-family:OpenSansBold, Arial; }
strong > em, em > strong { font-family:OpenSansBoldItalic, Arial;font-style:italic; }
table { font-size:1.4rem;border-collapse:collapse; }
table th { border-bottom-width:1px;border-bottom-style:solid;border-color:#CACED9;undefined;padding-left:2rem;padding-right:2rem;font-size:1.3rem;padding-top:1rem;padding-bottom:1rem;text-transform:uppercase;letter-spacing:0.025rem;text-align:left; }
table td { padding-top:1rem;padding-bottom:1rem;padding-left:2rem;padding-right:2rem;border-bottom-width:1px;border-bottom-style:solid;border-color:#CACED9; }
[data-tooltip] { position:relative; }
[data-tooltip]:hover:after { content: attr(data-tooltip);padding:1rem;background-color:#CACED9;text-decoration:none;color:hsl(219, 22%, 25%);margin-left:1rem;margin-right:1rem;font-size:1.1rem;border-width:0;border-style:none;position:absolute;left:0;top:calc(-100% - 24px); }
ul { font-size:1.4rem; }
.align-top { vertical-align:top; }
.anim-ease-in { transition-timing-function:cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.anim-ease-out { transition-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1); }
.anim-ease-in-out { transition-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1); }
.anim-speed-slow { transition: all 1s; }
.anim-speed-med { transition: all 0.5s; }
.anim-speed-fast { transition: all 0.3s; }
.anim-delay-slow { transition-delay: all 1s; }
.anim-delay-med { transition-delay: all 0.5s; }
.anim-delay-fast { transition-delay: all 0.3s; }
.bdr-none { border-width:0;border-style:none; }
.bdr-xs { border-width:1px;border-style:solid; }
.bdr-s { border-width:2px;border-style:solid; }
.bdr-m { border-width:3px;border-style:solid; }
.bdr-bot-xs { border-bottom-width:1px;border-bottom-style:solid; }
.bdr-bot-s { border-bottom-width:2px;border-bottom-style:solid; }
.bdr-bot-m { border-bottom-width:3px;border-bottom-style:solid; }
.bdr-bot-color-primary { border-bottom-color:hsl(212, 64%, 49%); }
.bdr-collapse { border-collapse:collapse; }
.bdr-color-danger { border-color:hsl(358,80%,46%); }
.bdr-color-grey-light-tint { border-color:#CACED9; }
.bdr-color-grey-light { border-color:hsl(218,8%,48%); }
.bdr-color-primary { border-color:hsl(212, 64%, 49%); }
.bdr-color-white { border-color:#FFFFFF; }
.bdr-lft-color-primary { border-left-color:hsl(212, 64%, 49%); }
.bdr-lft-m { border-left-width:3px;border-left-style:solid; }
.bdr-lft-s { border-left-width:2px;border-left-style:solid; }
.bdr-lft-xs { border-left-width:1px;border-left-style:solid; }
.bdr-radius-l { border-radius:4px; }
.bdr-radius-m { border-radius:3px; }
.bdr-radius-none { border-radius:0px; }
.bdr-radius-s { border-radius:2px; }
.bdr-radius-xl { border-radius:5px; }
.bdr-radius-xs { border-radius:1px; }
.bdr-rgt-color-primary { border-right-color:hsl(212, 64%, 49%); }
.bdr-rgt-m { border-right-width:3px;border-right-style:solid; }
.bdr-rgt-s { border-right-width:2px;border-right-style:solid; }
.bdr-rgt-xs { border-right-width:1px;border-right-style:solid; }
.bdr-top-color-primary { border-top-color:hsl(212, 64%, 49%); }
.bdr-top-m { border-top-width:3px;border-top-style:solid; }
.bdr-top-s { border-top-width:2px;border-top-style:solid; }
.bdr-top-xs { border-top-width:1px;border-top-style:solid; }
.bg-black { background-color:hsl(230,45%,10%); }
.bg-danger { background-color:hsl(358,80%,46%); }
.bg-grey-light-tint { background-color:#CACED9; }
.bg-grey-light { background-color:hsl(218,8%,48%); }
.bg-grey { background-color:hsl(219, 22%, 25%); }
.bg-primary-light { background-color:hsl(212, 100%, 60%); }
.bg-primary { background-color:hsl(212, 64%, 49%); }
.bg-secondary { background-color:hsl(212, 70%, 40%); }
.bg-cover { background-size:cover; }
.bg-center { background-position:center; }
.bg-success { background-color:hsl(158, 100%, 26%); }
.bg-white { background-color:#FFFFFF; }
.block { display:block; }
.content-attr-tooltip { content: attr(data-tooltip); }
.cursor-pointer { cursor:pointer; }
.filter-color-white { filter:brightness(1); }
.filter-color-black { filter:brightness(0); }
.flex-fit { flex-grow:0; }
.flex-horz-center { justify-content:center; }
.flex-horz-left { justify-content:start; }
.flex-horz-right { justify-content:end; }
.flex-vert-center { align-items:center; }
.flex-vert-top { align-items:flex-start; }
.flex-vert-bot { align-items:flex-end; }
.flex-col-fifth { flex:0 0 20%; }
.flex-col-fourth { flex:0 0 25%; }
.flex-col-full { flex:0 0 100%; }
.flex-col-half { flex:0 0 50%; }
.flex-col-sixth { flex:0 0 16.66%; }
.flex-col-third { flex:0 0 33.33333%; }
.flex-col { flex:1; }
.flex-dir-col { flex-direction:column; }
.flex-dir-row { flex-direction:row; }
.flex-justify-center { justify-content:center; }
.flex-wrap { flex-wrap:wrap; }
.flex { display:flex; }
.grid { display:grid; }
.height-l { height:3.2rem; }
.height-m { height:2.4rem; }
.height-s { height:1.8rem; }
.height-xl { height:4rem; }
.height-xs { height:1.6rem; }
.height-xxl { height:5rem; }
.hide { display:none; }
.icon.administration { background-image:url(../gfx/icons/administration.svg); }
.icon.analytics { background-image:url(../gfx/icons/analytics.svg); }
.icon.calendar { background-image:url(../gfx/icons/calendar.svg); }
.icon.collapse-expand { background-image:url(../gfx/icons/collapse-expand.svg); }
.icon.daily-roster { background-image:url(../gfx/icons/daily-roster.svg); }
.icon.data-intelligence { background-image:url(../gfx/icons/data-intelligence.svg); }
.icon.demographics { background-image:url(../gfx/icons/demographics.svg); }
.icon.events { background-image:url(../gfx/icons/events.svg); }
.icon.home { background-image:url(../gfx/icons/home.svg); }
.icon.hydrants { background-image:url(../gfx/icons/hydrants.svg); }
.icon.incidents { background-image:url(../gfx/icons/incidents.svg); }
.icon.inventory { background-image:url(../gfx/icons/inventory.svg); }
.icon.invoicing { background-image:url(../gfx/icons/invoicing.svg); }
.icon.library { background-image:url(../gfx/icons/library.svg); }
.icon.maintenance { background-image:url(../gfx/icons/maintenance.svg); }
.icon.message-center { background-image:url(../gfx/icons/message-center.svg); }
.icon.my-profile { background-image:url(../gfx/icons/my-profile.svg); }
.icon.occupancies { background-image:url(../gfx/icons/occupancies.svg); }
.icon.payroll { background-image:url(../gfx/icons/payroll.svg); }
.icon.reports { background-image:url(../gfx/icons/reports.svg); }
.icon.roster { background-image:url(../gfx/icons/roster.svg); }
.icon.shifts { background-image:url(../gfx/icons/shifts.svg); }
.icon.training { background-image:url(../gfx/icons/training.svg); }
.inline-block { display:inline-block; }
.mrgn-auto { margin:auto; }
.mrgn-bot-l { margin-bottom:4rem; }
.mrgn-bot-m { margin-bottom:3rem; }
.mrgn-bot-none { margin-bottom:0; }
.mrgn-bot-s { margin-bottom:2rem; }
.mrgn-bot-xl { margin-bottom:5rem; }
.mrgn-bot-xs { margin-bottom:1rem; }
.mrgn-horz-l { margin-left:4rem;margin-right:4rem; }
.mrgn-horz-m { margin-left:3rem;margin-right:3rem; }
.mrgn-horz-none { margin-left:inherit 0; }
.mrgn-horz-s { margin-left:2rem;margin-right:2rem; }
.mrgn-horz-xl { margin-left:5rem;margin-right:5rem; }
.mrgn-horz-xs { margin-left:1rem;margin-right:1rem; }
.mrgn-l { margin:4rem; }
.mrgn-lft-l { margin-left:4rem; }
.mrgn-lft-m { margin-left:3rem; }
.mrgn-lft-none { margin-left:0; }
.mrgn-lft-s { margin-left:2rem; }
.mrgn-lft-xl { margin-left:5rem; }
.mrgn-lft-xs { margin-left:1rem; }
.mrgn-m { margin:3rem; }
.mrgn-none { margin:0; }
.mrgn-rgt-l { margin-right:4rem; }
.mrgn-rgt-m { margin-right:3rem; }
.mrgn-rgt-none { margin-right:0; }
.mrgn-rgt-s { margin-right:2rem; }
.mrgn-rgt-xl { margin-right:5rem; }
.mrgn-rgt-xs { margin-right:1rem; }
.mrgn-s { margin:2rem; }
.mrgn-top-l { margin-top:4rem; }
.mrgn-top-m { margin-top:3rem; }
.mrgn-top-none { margin-top:0; }
.mrgn-top-s { margin-top:2rem; }
.mrgn-top-xl { margin-top:5rem; }
.mrgn-top-xs { margin-top:1rem; }
.mrgn-vert-l { margin-top:4rem;margin-bottom:4rem; }
.mrgn-vert-m { margin-top:3rem;margin-bottom:3rem; }
.mrgn-vert-none { margin:0 inherit; }
.mrgn-vert-s { margin-top:2rem;margin-bottom:2rem; }
.mrgn-vert-xl { margin-top:5rem;margin-bottom:5rem; }
.mrgn-vert-xs { margin-top:1rem;margin-bottom:1rem; }
.mrgn-xl { margin:5rem; }
.mrgn-xs { margin:1rem; }
.opac-0 { opacity:0; }
.opac-10 { opacity:0.1; }
.opac-100 { opacity:1; }
.opac-20 { opacity:0.2; }
.opac-30 { opacity:0.3; }
.opac-40 { opacity:0.4; }
.opac-50 { opacity:0.5; }
.opac-60 { opacity:0.6; }
.opac-70 { opacity:0.7; }
.opac-80 { opacity:0.8; }
.opac-90 { opacity:0.9; }
.pad-bot-l { padding-bottom:4rem; }
.pad-bot-m { padding-bottom:3rem; }
.pad-bot-none { padding-bottom:0; }
.pad-bot-s { padding-bottom:2rem; }
.pad-bot-xl { padding-bottom:5rem; }
.pad-bot-xs { padding-bottom:1rem; }
.pad-horz-l { padding-left:4rem;padding-right:4rem; }
.pad-horz-m { padding-left:3rem;padding-right:3rem; }
.pad-horz-none { padding-left:0;padding-right:0; }
.pad-horz-s { padding-left:2rem;padding-right:2rem; }
.pad-horz-xl { padding-left:5rem;padding-right:5rem; }
.pad-horz-xs { padding-left:1rem;padding-right:1rem; }
.pad-l { padding:4rem; }
.pad-lft-l { padding-left:4rem; }
.pad-lft-m { padding-left:3rem; }
.pad-lft-none { padding-left:0; }
.pad-lft-s { padding-left:2rem; }
.pad-lft-xl { padding-left:5rem; }
.pad-lft-xs { padding-left:1rem; }
.pad-m { padding:3rem; }
.pad-none { padding:0; }
.pad-rgt-l { padding-right:4rem; }
.pad-rgt-m { padding-right:3rem; }
.pad-rgt-none { padding-right:0; }
.pad-rgt-s { padding-right:2rem; }
.pad-rgt-xl { padding-right:5rem; }
.pad-rgt-xs { padding-right:1rem; }
.pad-s { padding:2rem; }
.pad-top-l { padding-top:4rem; }
.pad-top-m { padding-top:3rem; }
.pad-top-none { padding-top:0; }
.pad-top-s { padding-top:2rem; }
.pad-top-xl { padding-top:5rem; }
.pad-top-xs { padding-top:1rem; }
.pad-vert-l { padding-top:4rem;padding-bottom:4rem; }
.pad-vert-m { padding-top:3rem;padding-bottom:3rem; }
.pad-vert-none { padding-top:0;padding-bottom:0; }
.pad-vert-s { padding-top:2rem;padding-bottom:2rem; }
.pad-vert-xl { padding-top:5rem;padding-bottom:5rem; }
.pad-vert-xs { padding-top:1rem;padding-bottom:1rem; }
.pad-xl { padding:5rem; }
.pad-xs { padding:1rem; }
.pos-abs { position:absolute; }
.pos-bottom-hide { bottom:-100%; }
.pos-bottom-l { bottom:3.2rem; }
.pos-bottom-m { bottom:2.4rem; }
.pos-bottom-none { bottom:0; }
.pos-bottom-s { bottom:1.8rem; }
.pos-bottom-xl { bottom:4rem; }
.pos-bottom-xs { bottom:1.6rem; }
.pos-bottom-xxl { bottom:5rem; }
.pos-fix { position:fixed; }
.pos-left-hide { left:-100%; }
.pos-left-l { left:3.2rem; }
.pos-left-m { left:2.4rem; }
.pos-left-none { left:0; }
.pos-left-s { left:1.8rem; }
.pos-left-xl { left:4rem; }
.pos-left-xs { left:1.6rem; }
.pos-left-xxl { left:5rem; }
.pos-rel { position:relative; }
.pos-right-hide { right:-100%; }
.pos-right-l { right:3.2rem; }
.pos-right-m { right:2.4rem; }
.pos-right-none { right:0; }
.pos-right-s { right:1.8rem; }
.pos-right-xl { right:4rem; }
.pos-right-xs { right:1.6rem; }
.pos-right-xxl { right:5rem; }
.pos-top-hide { top:-100%; }
.pos-top-l { top:3.2rem; }
.pos-top-m { top:2.4rem; }
.pos-top-none { top:0; }
.pos-top-s { top:1.8rem; }
.pos-top-xl { top:4rem; }
.pos-top-xs { top:1.6rem; }
.pos-top-xxl { top:5rem; }
.shadow-s { box-shadow:0 1px 5px rgba(0, 0, 0, 0.3); }
.tbl--fixed { table-layout:fixed; }
.tbl--full { width:100%; }
.tbl-cell { display:table-cell; }
.tbl-row { display:table-row; }
.tbl { display:table; }
.text-align-center { text-align:center; }
.text-align-left { text-align:left; }
.text-align-right { text-align:right; }
.text-case-lower { text-transform:lowercase; }
.text-case-title { text-transform:capitalize; }
.text-case-upper { text-transform:uppercase; }
.text-color-black { color:hsl(230,45%,10%); }
.text-color-danger { color:hsl(358,80%,46%); }
.text-color-grey-light-tint { color:#CACED9; }
.text-color-grey-light { color:hsl(218,8%,48%); }
.text-color-grey { color:hsl(219, 22%, 25%); }
.text-color-info { color:hsl(212, 64%, 49%); }
.text-color-primary-light { color:hsl(212, 100%, 60%); }
.text-color-primary { color:hsl(212, 64%, 49%); }
.text-color-secondary { color:hsl(212, 70%, 40%); }
.text-color-success { color:hsl(158, 100%, 26%); }
.text-color-warn { color:hsl(63, 74%, 69%); }
.text-color-white { color:#FFFFFF; }
.text-font-monospace { font-family:monospace; }
.text-font-primary-bold-italic { font-family:OpenSansBoldItalic, Arial;font-style:italic; }
.text-font-primary-bold { font-family:OpenSansBold, Arial; }
.text-font-primary-italic { font-family:OpenSansItalic, Arial;font-style:italic; }
.text-font-primary { font-family:OpenSans, Arial; }
.text-height-l { line-height:3.2rem; }
.text-height-m { line-height:2.4rem; }
.text-height-s { line-height:1.8rem; }
.text-height-xl { line-height:4rem; }
.text-height-xs { line-height:1.6rem; }
.text-height-xxl { line-height:5rem; }
.text-indent-l { text-indent:2rem; }
.text-indent-m { text-indent:1.5rem; }
.text-indent-s { text-indent:1rem; }
.text-indent-xl { text-indent:2.5rem; }
.text-indent-xs { text-indent:.5rem; }
.text-nowrap { white-space:nowrap; }
.text-preformat { white-space: pre; }
.text-size-l { font-size:1.8rem; }
.text-size-m { font-size:1.4rem; }
.text-size-s { font-size:1.3rem; }
.text-size-xl { font-size:2.4rem; }
.text-size-xs { font-size:1.1rem; }
.text-size-xxl { font-size:4rem; }
.text-space-s { letter-spacing:0.025rem; }
.text-underline-none { text-decoration:none; }
.width-fifth { width: 20%; }
.width-fourth { width: 25%; }
.width-full { width: 100%; }
.width-half { width: 50%; }
.width-l { width:3.2rem; }
.width-m { width:2.4rem; }
.width-s { width:1.8rem; }
.width-sixth { width: 16.66%; }
.width-third { width: 33.33333%; }
.width-xl { width:4rem; }
.width-xs { width:1.6rem; }
.width-xxl { width:5rem; }
.z-0 { z-index:0; }
.z-1 { z-index:1; }
.z-2 { z-index:2; }
.z-3 { z-index:3; }
.z-4 { z-index:4; }
.z-5 { z-index:5; }
.z-6 { z-index:6; }
.z-7 { z-index:7; }
.z-8 { z-index:8; }
.z-9 { z-index:9; }
.z-infinite { z-index:100000; }
