<div class="mrgn-vert-5">
    <h2 id="Buttons">Buttons</h2>

    <div class="tbl tbl--full tbl--fixed">
        <div class="tbl-row">
            <div class="tbl-cell"></div>
            <div class="tbl-cell">
                <h3>Large</h3>
            </div>
            <div class="tbl-cell">
                <h3>Medium</h3>
            </div>
            <div class="tbl-cell">
                <h3>Small</h3>
            </div>
        </div>
        <div class="tbl-row">
            <div class="tbl-cell">
                <h4 class="text-color-grey-light">Primary</h4>
            </div>
            <div class="tbl-cell">
                <a class="button large">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button medium">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button small">Button Text</a>
            </div>
        </div>
        <div class="tbl-row">
            <div class="tbl-cell">
                <h4 class="text-color-grey-light">Primary
                    <br/>
                    <small>Disabled</small>
                </h4>
            </div>
            <div class="tbl-cell">
                <a class="button large disabled">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button medium disabled">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button small disabled">Button Text</a>
            </div>
        </div>
        <div class="tbl-row">
            <div class="tbl-cell">
                <h4 class="text-color-grey-light">Secondary</h4>
            </div>
            <div class="tbl-cell">
                <a class="button secondary large">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button secondary medium">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button secondary small">Button Text</a>
            </div>
        </div>
        <div class="tbl-row">
            <div class="tbl-cell">
                <h4 class="text-color-grey-light">Secondary
                    <br/>
                    <small>Disabled</small>
                </h4>
            </div>
            <div class="tbl-cell">
                <a class="button secondary disabled large">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button secondary disabled medium">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button secondary disabled small">Button Text</a>
            </div>
        </div>
        <div class="tbl-row">
            <div class="tbl-cell">
                <h4 class="text-color-grey-light">Danger</h4>
            </div>
            <div class="tbl-cell">
                <a class="button danger large">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button danger medium">Button Text</a>
            </div>
            <div class="tbl-cell">
                <a class="button danger small">Button Text</a>
            </div>
        </div>
    </div>
</div>