<div class="mrgn-vert-5">
    <h2 id="Colors">Colors</h2>
    <div class="columns">
        <div class="bg-primary column" style="height:100px"></div>
        <div class="bg-secondary column" style="height:100px"></div>
        <div class="bg-primary-light column" style="height:100px"></div>
        <div class="bg-success column" style="height:100px"></div>
        <div class="bg-danger column" style="height:100px"></div>
        <div class="bg-black column" style="height:100px"></div>
        <div class="bg-grey column" style="height:100px"></div>
        <div class="bg-grey-light column" style="height:100px"></div>
    </div>
</div>