<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FEDS</title>
    <link rel="stylesheet" type="text/css" href="<!-- STYLESHEET -->" />
    <link rel="stylesheet" type="text/css" href="styles/guide.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.min.js"></script>
    <script src="<!-- SCRIPT -->"></script>
    <script src="scripts/guide.js"></script>
</head>

<body>
    <a id="top" href="#" class="button secondary medium pos-fix pos-bottom-hide pos-left-s z-infinite trans-all-med" onclick="document.body.scrollTop=0">TOP</a>
    <div id="menuToggle" class="pos-fix hide top-right pos-right-none pos-left-none z-infinite">
        <a href="#layout" class="button bg-primary text-align-right block bdr-radius-none">&#x2630;</a>
    </div>
    <div id="layout" class="columns">
        <aside id="mainMenu" class="column pad-m" style="flex: 0 0 200px">
            <!-- MENU -->
        </aside>
        <div id="layout-content" class="column pad-m">
            <h1 class="mrgn-top-none">FEDS</h1>
            <p class="text-size-l text-color-grey-light">Front-end Design System</p>
            <!-- BUTTONS -->
            <!-- COLORS -->
            <!-- GRIDS -->
            <!-- RESPONSIFIER -->
            <!-- TYPOGRAPHY -->
        </div>
    </div>
</body>

</html>