<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FEDS</title>
    <link rel="stylesheet" type="text/css" href="<!-- STYLESHEET -->" />
    <link rel="stylesheet" type="text/css" href="styles/guide.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.min.js"></script>
    <script src="scripts/feds.1.0.0.js"></script>
    <script src="scripts/guide.js"></script>
</head>

<body>
    <a id="top" href="#" class="button secondary medium pos-fix hide" onclick="document.body.scrollTop=0" style="bottom:20px; left:20px;">TOP</a>
    <div id="layout" class="columns">
        <aside class="column pad-m" style="flex: 0 0 200px">
            <!-- MENU -->
        </aside>
        <div id="layout-content" class="column pad-top-m pad-rgt-l">
            <h1 class="mrgn-top-none">FEDS</h1>
            <p class="text-size-l text-color-grey-light">Front-end Design System</p>
            <!-- BUTTONS -->
            <!-- COLORS -->
            <!-- GRIDS -->
            <!-- RESPONSIFIER -->
            <!-- TYPOGRAPHY -->
        </div>
    </div>
</body>

</html>