{{#page section="Elements" title="Grids" }}
{{>
header
title="Bulleted"
source="/src/styles/elements/lists.styl"
descr=""
}}

{{#example}}
<ul>
    <li>Item
        <ul>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </li>
    <li>Item
        <ul>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </li>
    <li>Item</li>
</ul>
{{/example}}

{{>
header
title="Numbered"
source="/src/styles/elements/lists.styl"
descr=""
}}

{{#example}}
<ol>
    <li>Item
        <ol>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ol>
    </li>
    <li>Item
        <ol>
            <li>Item</li>
            <li>Item</li>
        </ol>
    </li>
    <li>Item</li>
</ol>
{{/example}}

{{/page}}