{{#page section="Elements" title="Navigations" }}
{{>
header
title="Breadcrumbs"
}}

{{#example flex=false code=true}}
<ul class="list-reset font-size-xs">
  <li class="inline-block"><a href="#">Page 1</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
  <li class="inline-block"><a href="#">Page 2</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
  <li class="inline-block"><a href="#">Page 3</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
  <li class="inline-block"><a href="#">Page 4</a></li>
</ul>
{{/example}}

{{>
header
title="Breadcrumbs With Title"
}}

{{#example flex=false code=true}}
<ul class="list-reset font-size-xs">
  <li class="inline-block"><a href="#">Page 1</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
  <li class="inline-block"><a href="#">Page 2</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
  <li class="inline-block"><a href="#">Page 3</a>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
  <li class="inline-block"><a href="#">Page 4</a></li>
</ul>
<h2 class="font-size-l margin-top-none">This is the Page Title</h2>
{{/example}}

{{>
header
title="Back Button & Page Title"
}}

{{#example flex=false code=true}}
<div class="flex flex-align-items-center">
  <a href="#" class="inline-block margin-right-l border-color-primary border-size-xs border-radius-base border-style-solid text-color-primary"><i
      class="font-size-xl icon icon-caret-arrow"></i></a>
  <h2 class="font-size-l margin-top-none inline-block margin-none">This is the Page Title</h2>
</div>
{{/example}}

{{/page}}