{{#page
section="Elements"
title="Tables"
source="/src/styles/elements/tables.styl" }}

{{{SectionHeader
title="Tables"
descr="Due to their unique status, tables are styled by default"
}}}

{{#example flex=false code=true }}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>DOB</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Abby</td>
            <td>123-123-1234</td>
            <td>10/12/76</td>
        </tr>
        <tr>
            <td>Bruce</td>
            <td>08/26/85</td>
            <td>345-678-9101</td>
        </tr>
        <tr>
            <td>Catherine</td>
            <td>234-567-8910</td>
            <td>03/21/95</td>
        </tr>
    </tbody>
</table>
{{/example}}

{{{SectionHeader
title="Pivot"
descr="A table can be pivoted by adding the <em>pivot</em> class. This creates a row based layout of the same table."
atoms=".table--pivot, .mobile:table--pivot, .tablet:table--pivot, .desktop:table--pivot"
}}}

{{#example flex=false code=true }}
<table class="table--pivot">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>DOB</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Abby</td>
            <td>123-123-1234</td>
            <td>10/12/76</td>
        </tr>
        <tr>
            <td>Bruce</td>
            <td>08/26/85</td>
            <td>345-678-9101</td>
        </tr>
        <tr>
            <td>Catherine</td>
            <td>234-567-8910</td>
            <td>03/21/95</td>
        </tr>
    </tbody>
</table>
{{/example}}

{{{SectionHeader
title="Wrap"
descr="An optional <em>wrap</em> class is available to wrap the table data for smaller screens. In order for wrapping
to work, the <code>data-header</code> attribute must be applied to all <code>td</code>'s"
atoms=".table--wrap, .table--unwrap, .mobile:table--wrap, .tablet:table--wrap, .desktop:table--wrap, .mobile:table--unwrap, .tablet:table--unwrap, .desktop:table--unwrap"
}}}

{{#example flex=false code=true}}
<table class="table--wrap">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>DOB</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-header="Name">Abby</td>
            <td data-header="Phone">123-123-1234</td>
            <td data-header="DOB">10/12/76</td>
        </tr>
        <tr>
            <td data-header="Name">Bruce</td>
            <td data-header="Phone">08/26/85</td>
            <td data-header="DOB">345-678-9101</td>
        </tr>
        <tr>
            <td data-header="Name">Catherine</td>
            <td data-header="Phone">234-567-8910</td>
            <td data-header="DOB">03/21/95</td>
        </tr>
    </tbody>
</table>
{{/example}}

{{{SectionHeader
title="Responsive"
descr="Both the pivot and wrap modifiers include media query prefixes."
}}}


{{#example code=true title="Auto-wrap" descr="Add the <em>table--wrap</em> class to default to a table that wraps. Add
the media
query prefixed class <em>tablet:table--unwrap</em> to unwrap the table on devices gte to the tablet width." flex=false
}}
<table class="table--wrap tablet:table--unwrap">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>DOB</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-header="Name">Abby</td>
            <td data-header="Phone">123-123-1234</td>
            <td data-header="DOB">10/12/76</td>
        </tr>
        <tr>
            <td data-header="Name">Bruce</td>
            <td data-header="Phone">08/26/85</td>
            <td data-header="DOB">345-678-9101</td>
        </tr>
        <tr>
            <td data-header="Name">Catherine</td>
            <td data-header="Phone">234-567-8910</td>
            <td data-header="DOB">03/21/95</td>
        </tr>
    </tbody>
</table>
{{/example}}

{{/page}}