{{#page section="Elements" title="Typography" }}
{{>
header
title="Headers"
source="/src/styles/elements/headers.styl"
descr=""
}}

{{#example flex=false}}
<h1 class="pad-xl border-size-xs border-color-grey-l border-style-solid">Giant Text: Good design is excellent</h1>
<p>h1</p>
<h2 class="pad-xl border-size-xs border-color-grey-l border-style-solid">Giant Text: Good design is excellent
  business</h2>
<p>h2</p>
<h3 class="pad-xl border-size-xs border-color-grey-l border-style-solid">Giant Text: Good design is excellent
  business</h3>
<p>h3</p>
<h4 class="pad-xl border-size-xs border-color-grey-l border-style-solid">Giant Text: Good design is excellent
  business</h4>
<p>h4</p>
<h5 class="pad-xl border-size-xs border-color-grey-l border-style-solid">Giant Text: Good design is excellent
  business</h5>
<p>h5</p>
{{/example}}

{{>
header
title="Paragraphs"
source="/src/styles/elements/paragraphs.styl"
descr=""
}}

{{#example flex=false}}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar, massa et efficitur malesuada, risus
  ipsum
  sodales est, eu tempus orci lorem quis ante. Nullam ut scelerisque sem. Nulla et ex a felis bibendum
  aliquet
  aliquam sit amet nisl. Quisque vel tempus leo.</p>
<p> Etiam at venenatis sapien, nec pellentesque lorem. Praesent ultricies ac quam vitae placerat. Integer quis
  neque
  mollis diam malesuada vestibulum vitae sed eros. Duis vulputate dolor nec aliquet pellentesque. Ut sodales,
  massa
  in finibus bibendum, arcu augue iaculis ante, ac pretium tellus elit eu nunc. Maecenas efficitur volutpat
  ex,
  ut accumsan velit tincidunt euismod. Nulla vulputate quis est eget consectetur.
</p>
{{/example}}

{{/page}}