.border-color {
  &-black {
    border-color: $color-black;
  }

  &-blue, &-primary {
    border-color: $color-blue;
  }

  &-blue-d, &-primary-d {
    border-color: $color-blue-d;
  }

  &-blue-l, &-primary-l {
    border-color: $color-blue-l;
  }

  &-danger {
    border-color: $color-red;
  }

  &-grey {
    border-color: $color-grey;
  }

  &-grey-l {
    border-color: $color-grey-l;
  }

  &-light-blue {
    border-color: $color-light-blue;
  }

  &-light-blue-l {
    border-color: $color-light-blue-l;
  }

  &-light-grey {
    border-color: $color-light-grey;
  }

  &-light-grey-l {
    border-color: $color-light-grey-l;
  }

  &-light-grey-xl {
    border-color: $color-light-grey-xl;
  }

  &-success {
    border-color: $color-green;
  }

  &-white {
    border-color: $color-white;
  }

  &-warning {
    border-color: $color-yellow;
  }

  &-right {
    &-black {
      border-right-color: $color-black;
    }

    &-blue, &-primary {
      border-right-color: $color-blue;
    }

    &-blue-d, &-primary-d {
      border-right-color: $color-blue-d;
    }

    &-blue-l, &-primary-l {
      border-right-color: $color-blue-l;
    }

    &-danger {
      border-right-color: $color-red;
    }

    &-grey {
      border-right-color: $color-grey;
    }

    &-grey-l {
      border-right-color: $color-grey-l;
    }

    &-light-blue {
      border-right-color: $color-light-blue;
    }

    &-light-blue-l {
      border-right-color: $color-light-blue-l;
    }

    &-light-grey {
      border-right-color: $color-light-grey;
    }

    &-light-grey-l {
      border-right-color: $color-light-grey-l;
    }

    &-light-grey-xl {
      border-right-color: $color-light-grey-xl;
    }

    &-success {
      border-right-color: $color-green;
    }

    &-white {
      border-right-color: $color-white;
    }

    &-warning {
      border-right-color: $color-yellow;
    }
  }

  &-bottom {
    &-black {
      border-bottom-color: $color-black;
    }

    &-blue, &-primary {
      border-bottom-color: $color-blue;
    }

    &-blue-d, &-primary-d {
      border-bottom-color: $color-blue-d;
    }

    &-blue-l, &-primary-l {
      border-bottom-color: $color-blue-l;
    }

    &-danger {
      border-bottom-color: $color-red;
    }

    &-grey {
      border-bottom-color: $color-grey;
    }

    &-grey-l {
      border-bottom-color: $color-grey-l;
    }

    &-light-blue {
      border-bottom-color: $color-light-blue;
    }

    &-light-blue-l {
      border-bottom-color: $color-light-blue-l;
    }

    &-light-grey {
      border-bottom-color: $color-light-grey;
    }

    &-light-grey-l {
      border-bottom-color: $color-light-grey-l;
    }

    &-light-grey-xl {
      border-bottom-color: $color-light-grey-xl;
    }

    &-success {
      border-bottom-color: $color-green;
    }

    &-white {
      border-bottom-color: $color-white;
    }

    &-warning {
      border-bottom-color: $color-yellow;
    }
  }

  &-left {
    &-black {
      border-left-color: $color-black;
    }

    &-blue, &-primary {
      border-left-color: $color-blue;
    }

    &-blue-d, &-primary-d {
      border-left-color: $color-blue-d;
    }

    &-blue-l, &-primary-l {
      border-left-color: $color-blue-l;
    }

    &-danger {
      border-left-color: $color-red;
    }

    &-grey {
      border-left-color: $color-grey;
    }

    &-grey-l {
      border-left-color: $color-grey-l;
    }

    &-light-blue {
      border-left-color: $color-light-blue;
    }

    &-light-blue-l {
      border-left-color: $color-light-blue-l;
    }

    &-light-grey {
      border-left-color: $color-light-grey;
    }

    &-light-grey-l {
      border-left-color: $color-light-grey-l;
    }

    &-light-grey-xl {
      border-left-color: $color-light-grey-xl;
    }

    &-success {
      border-left-color: $color-green;
    }

    &-white {
      border-left-color: $color-white;
    }

    &-warning {
      border-left-color: $color-yellow;
    }
  }

  &-top {
    &-black {
      border-top-color: $color-black;
    }

    &-blue, &-primary {
      border-top-color: $color-blue;
    }

    &-blue-d, &-primary-d {
      border-top-color: $color-blue-d;
    }

    &-blue-l, &-primary-l {
      border-top-color: $color-blue-l;
    }

    &-danger {
      border-top-color: $color-red;
    }

    &-grey {
      border-top-color: $color-grey;
    }

    &-grey-l {
      border-top-color: $color-grey-l;
    }

    &-light-blue {
      border-top-color: $color-light-blue;
    }

    &-light-blue-l {
      border-top-color: $color-light-blue-l;
    }

    &-light-grey {
      border-top-color: $color-light-grey;
    }

    &-light-grey-l {
      border-top-color: $color-light-grey-l;
    }

    &-light-grey-xl {
      border-top-color: $color-light-grey-xl;
    }

    &-success {
      border-top-color: $color-green;
    }

    &-white {
      border-top-color: $color-white;
    }

    &-warning {
      border-top-color: $color-yellow;
    }
  }
}