.border-radius {
  &-xs {
    border-radius: 1px;
  }

  &-s {
    border-radius: 2px;
  }

  &-m {
    border-radius: 3px;
  }

  &-l {
    border-radius: 4px;
  }

  &-xl {
    border-radius: 5px;
  }

  &-none {
    border-radius: 0px;
  }
}