.border-size {
  &-top-xs {
    border-top-width: 1px;
  }

  &-top-s {
    border-top-width: 2px;
  }

  &-top-m {
    border-top-width: 3px;
  }

  &-top-l {
    border-top-width: 4px;
  }

  &-top-xl {
    border-top-width: 5px;
  }

  &-top-none {
    border-top-width: 0;
    border-style: none;
  }

  &-bot-xs {
    border-bottom-width: 1px;
  }

  &-bot-s {
    border-bottom-width: 2px;
  }

  &-bot-m {
    border-bottom-width: 3px;
  }

  &-bot-l {
    border-bottom-width: 4px;
  }

  &-bot-xl {
    border-bottom-width: 5px;
  }

  &-bot-none {
    border-bottom-width: 0;
    border-style: none;
  }

  &-left-xs {
    border-left-width: 1px;
  }

  &-left-s {
    border-left-width: 2px;
  }

  &-left-m {
    border-left-width: 3px;
  }

  &-left-l {
    border-left-width: 4px;
  }

  &-left-xl {
    border-left-width: 5px;
  }

  &-left-none {
    border-left-width: 0;
    border-style: none;
  }

  &-right-xs {
    border-right-width: 1px;
  }

  &-right-s {
    border-right-width: 2px;
  }

  &-right-m {
    border-right-width: 3px;
  }

  &-right-l {
    border-right-width: 4px;
  }

  &-right-xl {
    border-right-width: 5px;
  }

  &-right-none {
    border-right-width: 0;
    border-style: none;
  }

  &-xs {
    border-width: 1px;
  }

  &-s {
    border-width: 2px;
  }

  &-m {
    border-width: 3px;
  }

  &-l {
    border-width: 4px;
  }

  &-xl {
    border-width: 5px;
  }

  &-none {
    border-width: 0px;
  }
}