.border-style {
  &-solid {
    border-style: solid;
  }

  &-solid-bot {
    border-bottom-style: solid;
  }

  &-solid-top {
    border-top-style: solid;
  }

  &-solid-left {
    border-left-style: solid;
  }

  &-solid-right {
    border-right-style: solid;
  }
}
