<!DOCTYPE html><html class="feds"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEDS / Front-end Design System</title>
    <script src="/guide/guide.js"></script>
    <link rel="stylesheet" type="text/css" href="/guide/guide.css">
    <link rel="stylesheet" type="text/css" href="/styles/feds.latest.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.min.js"></script>
    <script src="/scripts/feds.latest.js"></script>
  </head>

  <body class="bg-color-light-grey-xl">
    <div class="container pos-relative height-min-screen margin-horz-auto">
      <div class="flex pos-absolute pos-right-0 pos-top-0 margin-top-s margin-right-s">
        <img src="https://reportingsystemsinc.visualstudio.com/Development/_apis/build/status/FEDS-build-pipeline" class="mobile:hidden tablet:block">
        <span class="mobile:hidden tablet:block opac-50 flex-align-items-center margin-left-xs">
          1.0.0.711
        </span>

        <i id="toggleMenu" class="mobile:flex tablet:hidden font-size-xl icon icon-menu float-right flex-align-items-center cursor-pointer"></i>
      </div>
      <div class="tablet:flex width-full height-min-screen">
        <aside class="flex-basis-auto tablet:width-1/4 pad-l bg-color-light-grey-l whitespace-no-wrap">
          <a href="/guide"> <img src="/gfx/common/er-logo.svg"></a>
          <p class="mobile:margin-none tablet:margin-top-s tablet:margin-bot-s font-size-xs font-primary-bold">
            Frontend Design System
            <span class="margin-left-xs font-size-xs mobile:inline-block tablet:hidden opac-30">
              1.0.0.711
            </span>
          </p>
          <div id="menu" class="mobile:hidden tablet:block">
            <hr>

            <h3 class="font-size-xs text-color-grey-l text-style-uppercase">
              Getting Started
            </h3>
            <div>
              <a href="/guide/index.html" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">About</a>
              <a href="/guide/general/concepts.html" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Concepts</a>
              <a href="/guide/general/usage.html" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Usage</a>
              <a href="/guide/general/compatibility.html" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Compatibility</a>
              <a href="/guide/general/compliance.html" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Compliance</a>
            </div>
            <h3 class="font-size-xs text-color-grey-l text-style-uppercase">
              Design System
            </h3>
            <div>
              <a href="/guide/atoms" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Atoms</a>
              <a href="/guide/elements" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Elements</a>
              <a href="/guide/components" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Components</a>
              <a href="/guide/interface" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Interface</a>
              <a href="/guide/modules" class="text-weight-normal leading-l block text-color-black font-size-base text-style-no-underline">Modules</a>
            </div>
          </div>
        </aside>
        <div class="mobile:pad-xl tablet:pad-3xl tablet:width-3/4">
          <div id="content"><section id="Accordion"><a 
    href="/guide/components" 
    class="button text-size-s font-style-uppercase bg-color-grey-l border-radius-none border-size-none leading-s">
    Components</a><h2 class="guide margin-top-2xl">Accordion</h2><a href="https://github.com/kvnlnt/feds/blob/master/src/scripts/components/accordion/accordion.js" target="blank">/src/scripts/components/accordion/accordion.js</a>

<h3 class="margin-top-xl margin-bot-s" id="Big">Big</h3>

<div class="shadow pad-2xl bg-color-white pos-relative">
  <div class="flex flex-wrap"><div id="AccordionBigExample" data-component="Accordion" class="width-full">
  <div data-tab="tab-one">
    <label class="focus:bg-color-primary-xl font-size-l flex cursor-pointer leading-2xl pad-left-s pad-right-xl border-style-solid-top border-size-top-xs border-color-light-grey hover:text-color-primary">
      <i class="icon icon-caret font-size-xl margin-right-base rotate-30 leading-2xl"></i>Label One</label>
    <div class="pad-left-2xl pad-bot-xl hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
      architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.
    </div>
  </div>
  <div data-tab="tab-two">
    <label class="focus:bg-color-primary-xl font-size-l flex cursor-pointer leading-2xl pad-left-s pad-right-xl border-style-solid-top border-size-top-xs border-color-light-grey hover:text-color-primary">
      <i class="icon icon-caret font-size-xl margin-right-base rotate-30 leading-2xl"></i>Label Two</label>
    <div class="pad-left-2xl pad-bot-xl hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
      architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.
    </div>
  </div>
</div>
</div></div><pre><code data-language="html"><div id="AccordionBigExample" data-component="Accordion" class="width-full">
  <div data-tab="tab-one">
    <label class="focus:bg-color-primary-xl font-size-l flex cursor-pointer leading-2xl pad-left-s pad-right-xl border-style-solid-top border-size-top-xs border-color-light-grey hover:text-color-primary">
      <i class="icon icon-caret font-size-xl margin-right-base rotate-30 leading-2xl"></i>Label One</label>
    <div class="pad-left-2xl pad-bot-xl hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
      architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.
    </div>
  </div>
  <div data-tab="tab-two">
    <label class="focus:bg-color-primary-xl font-size-l flex cursor-pointer leading-2xl pad-left-s pad-right-xl border-style-solid-top border-size-top-xs border-color-light-grey hover:text-color-primary">
      <i class="icon icon-caret font-size-xl margin-right-base rotate-30 leading-2xl"></i>Label Two</label>
    <div class="pad-left-2xl pad-bot-xl hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
      architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.
    </div>
  </div>
</div>
</code></pre>
<h3 class="margin-top-xl margin-bot-s" id="Small">Small</h3>

<div class="shadow pad-2xl bg-color-white pos-relative">
  <div class="flex flex-wrap"><div id="AccordionSmallExample" data-component="Accordion" class="width-full">
  <div data-tab="tab-one">
    <label class="font-weight-bold focus:bg-color-primary-xl font-size-m flex cursor-pointer leading-2xl pad-left-s pad-right-xl border-style-solid-top border-size-top-xs border-color-light-grey hover:text-color-primary">
      <i class="icon icon-caret font-size-xl margin-right-base rotate-30 leading-2xl"></i>Label One</label>
    <div class="pad-left-2xl pad-bot-xl hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
      architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.
    </div>
  </div>
  <div data-tab="tab-two">
    <label class="font-weight-bold focus:bg-color-primary-xl font-size-m flex cursor-pointer leading-2xl pad-left-s pad-right-xl border-style-solid-top border-size-top-xs border-color-light-grey hover:text-color-primary">
      <i class="icon icon-caret font-size-xl margin-right-base rotate-30 leading-2xl"></i>Label Two</label>
    <div class="pad-left-2xl pad-bot-xl hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
      architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.
    </div>
  </div>
</div>
</div></div><pre><code data-language="html"><div id="AccordionSmallExample" data-component="Accordion" class="width-full">
  <div data-tab="tab-one">
    <label class="font-weight-bold focus:bg-color-primary-xl font-size-m flex cursor-pointer leading-2xl pad-left-s pad-right-xl border-style-solid-top border-size-top-xs border-color-light-grey hover:text-color-primary">
      <i class="icon icon-caret font-size-xl margin-right-base rotate-30 leading-2xl"></i>Label One</label>
    <div class="pad-left-2xl pad-bot-xl hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
      architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.
    </div>
  </div>
  <div data-tab="tab-two">
    <label class="font-weight-bold focus:bg-color-primary-xl font-size-m flex cursor-pointer leading-2xl pad-left-s pad-right-xl border-style-solid-top border-size-top-xs border-color-light-grey hover:text-color-primary">
      <i class="icon icon-caret font-size-xl margin-right-base rotate-30 leading-2xl"></i>Label Two</label>
    <div class="pad-left-2xl pad-bot-xl hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur,
      architecto, explicabo perferendis nostrum,
      maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum?
      Saepe, itaque.
    </div>
  </div>
</div>
</code></pre>
</section></div>
        </div>
      </div>
    </div>
  

</body></html>